// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #B372BD;
$secondary: #6EDCC4;
$warning: #cbf065;
$light: #FFF6FF;
$dark: #1B2330
