@layer utilities {
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    /* Kyle underline - a kyle project staple */
    .k-line {
        padding-bottom: 4px;
        border-bottom: 1px solid;
        border-color: black;
    }

    .k-line-light {
        padding-bottom: 4px;
        border-bottom: 1px solid;
        border-color: white;
    }

    img {
        cursor: pointer;
    }

    .card-scroller {
        max-height: 80vh;
        overflow-y: auto;
    }

    .comments-reaction-picker-reactions {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 480px) {
        .comments-reaction-picker-reactions {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}